<%= form_with(model: product_image) do |form| %> <% if product_image.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(product_image.errors.count, "error") %> prohibited this product_image from being
    saved:
  </h2>

  <ul>
    <% product_image.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %> <%= image_tag @product_image.image %> <%= form_for(@product_image) do |f| %>
<div class="field">
  <%= f.label :image %><br />
  <%= f.file_field :image %>
</div>
<div class="actions"><%= f.submit %></div>
<% end %>

<div class="field"><%= form.label :product_id %> <%= form.number_field :product_id %></div>

<div class="field"><%= form.label :image %> <%= form.text_field :image %></div>

<div class="actions"><%= form.submit %></div>
<% end %>
