<p id="notice"><%= notice %></p>

<h1>Product Images</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_images.each do |product_image| %>
      <tr>
        <td><%= product_image.product_id %></td>
        <td><%= product_image.image %></td>
        <td><%= link_to 'Show', product_image %></td>
        <td><%= link_to 'Edit', edit_product_image_path(product_image) %></td>
        <td><%= link_to 'Destroy', product_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

