<%= form_with(model: product) do |form| %> <% if product.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

  <ul>
    <% product.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div style="width: 50%; border: 1px solid; padding: 30px; border-radius: 1%">
  <div class="form-group">
    <%= form.label :title , :class => "exampleInputPassword1" %> <%= form.text_field :title ,
    :required => true , :maxlength => 20, :minlength => 5 , :class => "form-control" %>
  </div>
  <br />

  <div class="form-group">
    <%= form.label :description %> <%= form.text_area :description , :required => true,
    :maxlength=>200, :minlength => 10 , :class => "form-control" %>
  </div>
  <br />

  <div class="form-group">
    <%= form.label :price %> <%= form.number_field :price , :required => true, :min => 1 , :class=>
    "form-control" %>
  </div>
  <br />

  <%= form.fields_for :product_images do |p| %>
  <div class="form-group">
    <%= p.label :image %><br />
    <%= p.file_field :image, :multiple => true, name: "product_images[image][]" , :required => true
    %>
  </div>
  <br />
  <% end %>

  <div class=""><%= form.submit "Create Product", :class => 'btn btn-success' %></div>
  <br />
</div>
<% end %>
