<p id="notice"><%= notice %></p>
<%= will_paginate @products %>
<h1>Products</h1>
<%= form_tag('/category') do |form| %>

<div class="form-group">
  Category <%= select_tag "category", options_for_select([ 'Food', 'Laptop', 'Refrigerator',
  'Television', 'Computer', 'PC Accessories', 'Clothes', 'Camera', 'Toys', 'Other' ], "MasterCard")
  %>
</div>

<div class=""><%= submit_tag "Find By Category" %></div>
<br />
<% end %>

<div class="table-responsive-md">
  <table class="table table-striped table-hover table-dark table-bordered">
    <colgroup>
      <col span="1" style="width: 3%" />
      <col span="1" style="width: 10%" />
      <col span="1" style="width: 60%" />
      <col span="1" style="width: 20%" />
      <col span="1" style="width: 8%" />
    </colgroup>
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Images</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">View</th>
      </tr>
    </thead>

    <tbody>
      <% number =0 %> <% @products.each do |product| %>
      <tr>
        <td scope="row"><%= number+=1%></td>
        <td scope="row"><%= product.title %></td>
        <td>
          <div class="row">
            <% product.image.each do |img| %>
            <div class="col">
              <center>
                <% if img.url %> <%= image_tag img.url, :style => "width:100px;height:80px" %>
                <br />
                <%end%>
              </center>
            </div>

            <% end %>
          </div>
        </td>
        <td scope="row"><%= product.description %></td>
        <td scope="row"><%= product.category %></td>
        <td scope="row"><%= product.price %></td>

        <td scope="row"><%= link_to 'Show', product, class: "btn btn-success" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br />
