<% if user_signed_in? %> <br /><br />
<div style="margin-left: 10%; min-width: 600px; margin-right: 10%">
  <h1>Welcome!!</h1>
  <br />
   <%= link_to 'View Products', products_path %> <% else %>
</div>
<h2>
  Please Sign In to continue <%= link_to 'SignIn', new_user_session_path, class: "nav-link" %>
</h2>
<% end%>
