<br />
<br />

<form class="form-inline my-2 my-lg-0">
  <input
    class="form-control mr-sm-2"
    type="search"
    id="search-bar"
    placeholder="Search for a Product"
    aria-label="Search"
  />
</form>
<br /><br />
<div class="table-responsive-md">
  <table class="table table-striped table-hover table-dark table-bordered">
    <colgroup>
      <col span="1" style="width: 3%" />
      <col span="1" style="width: 10%" />
      <col span="1" style="width: 60%" />
      <col span="1" style="width: 20%" />
      <col span="1" style="width: 8%" />
    </colgroup>
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">View</th>
      </tr>
    </thead>

    <tbody id="search-products"></tbody>
  </table>
</div>

<script>

  const show = (results) => {
    let number=0
    document.getElementById("search-products").innerHTML = ""
    results.map(product => {
      document.getElementById("search-products").innerHTML +=  `<tr>
        <td scope="row"> ${number+=1} </td>
        <td scope="row"> ${product.title}  </td>
        <td scope="row"> ${product.description}  </td>
        <td scope="row"> ${product.category}  </td>
        <td scope="row"> ${product.price}  </td>

        <td scope="row"> <a href="/products/${product.id}"> Display </a>  </td>
      </tr>
      `
    })
  }
  var products=[]
  let result= []
   <% @products.each do |product| %>

   products.push({title:'<%= product.title%>', description:'<%= product.description%>', id:'<%= product.id%>', category: '<%= product.category%>', price: '<%= product.price%>'})
    <% end %>
    console.log(products)
    document.getElementById("search-bar").addEventListener('keyup',(e)=> {
      result= []
      for(let obj of products){
        if (obj.title.toLowerCase().includes(e.target.value.toLowerCase()) || (obj.description.toLowerCase().includes(e.target.value.toLowerCase())))
        result.push(obj)
      }
      console.log(result)
      show(result)
    })
</script>
