<%= form_with(model: review) do |form| %> <% if review.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

  <ul>
    <% review.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div style="width: 50%; border: 1px solid; padding: 30px; border-radius: 1%">
  <div class="form-group">
    <%= form.label :comment , :class => "exampleInputPassword1" %> <%= form.text_area :comment ,
    :required => true , :maxlength => 200, :minlength => 5 , :class => "form-control" %>
  </div>
  <br />


    <div class="form-group">
      <%= form.label :rating %> <%= form.number_field :rating , :required => true, :min => 0 , :max =>10 ,
      :class=> "form-control" %>
    </div>
    <br />

    <div class="form-group">
      <%= form.label :product_id %> <%= form.text_field :product_id ,value: review.product_id, 
      :class=> "form-control" , :hidden => true %>
    </div>
    <br />

    <div class="actions"><%= form.submit %></div>
    <% end %>
  </div>
</div>
