<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<div class="table-responsive-md">
  <table class="table table-striped table-hover table-dark table-bordered">
    <colgroup>
      <col span="1" style="width: 3%" />
      <col span="1" style="width: 70%" />
      <col span="1" style="width: 5%" />
      <col span="1" style="width: 11%" />
      <col span="1" style="width: 11%" />
    </colgroup>
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Comment</th>
        <th scope="col">Rating</th>
        <th scope="col">Product_Id</th>
        <th scope="col">View</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>

    <tbody>
      <% number =0 %> <% @reviews.each do |review| %>
      <tr>
        <td scope="row"><%= number+=1%></td>
        <td scope="row"><%= review.comment %></td>
        <td scope="row"><%= review.rating %></td>
        <td scope="row"><%= review.product_id %></td>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td>
          <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <br />

  <%= link_to 'New Review', new_review_path %>
</div>
