<p id="notice"><%= notice %></p>

<h1>Reviews for Product <%= @product_name%> </h1>

<div class="table-responsive-md">
  <table class="table table-striped table-hover table-dark table-bordered">
    <colgroup>
      <col span="1" style="width: 3%" />
      <col span="1" style="width: 70%" />
      <col span="1" style="width: 5%" />
      <col span="1" style="width: 11%" />
      <col span="1" style="width: 11%" />
    </colgroup>
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Comment</th>
        <th scope="col">Rating</th>
        <th scope="col">Product Id</th>
        <th scope="col">User Email</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>

    <tbody>
      <% number =0 %> <% @review.each do |review| %>
      <tr>
          <% user = User.find(review.user_id) %>
        <td scope="row"><%= number+=1%></td>
        <td scope="row"><%= review.comment %></td>
        <td scope="row"><%= review.rating %></td>
        <td scope="row"><%= review.product_id %></td>
        <td scope="row"><%= user.email%></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <br />

  <%= link_to 'New Review', 'new-review/'+@product_id.to_s %>
</div>
