<nav class="navbar navbar-expand-md navbar-collapse navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Shopping App', root_path, class: "navbar-brand" %>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Search Products', "/search-products", class: "nav-link" %>
        </li>
        <li class="nav-item"><%= link_to 'View Products', products_path, class: "nav-link" %></li>
        <li class="nav-item">
          <%= link_to 'Edit User', edit_user_registration_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, :class=> "btn
          btn-danger"%>
        </li>
      </ul>
      <ul>
        <% else %>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary" %>
        </li>
        &nbsp;&nbsp;
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class: "btn btn-success" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
